@media only screen and (min-width: 200px) and (max-width: 992px) {
  .contact-box {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
  }
  .left-banner p {
    font-size: 1rem;
  }
  .left-banner h1 {
    font-size: 2rem;
  }
  .left-banner .line {
    width: 240px;
    height: 10px;
    top: 65px;
    left: 40px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}
